* {
    direction: rtl;
}


.navbar-brand > h4 {
    color: #000000;
    padding-top: 17px;
}

h2.headLine {
    margin-top: 22px;
}

.hero-wrap.hero-bread {
    padding-top: 0;
    margin-bottom: 40px;
}

.hero-wrap.hero-bread {
    padding: 0;
}

.ftco-section {
    padding: 0;
}

span {
    content: "\20AA";
}

.cart-total > h3, .totalPayment {
    text-align: right;
}

p.d-flex.total-price.totalPayment {
    color: black;
}

/*hover - bold menu*/

#ftco-nav li a:visited {
    font-weight: bold;
}

#ftco-nav li a:active {
    font-weight: bold;
}

#ftco-nav li a:hover {
    font-weight: bold;
}


/*table*/
.table .thead-primary {
    background: #e7e7e7;
}

    .table .thead-primary tr th {
        color: #000 !important;
    }

.table tbody tr td.product-remove a:hover {
    border: 1px solid #2fa333c4;
    background: #2fa333c4;
}

.btn.btn-primary {
    border: 1px solid #000;
    background: transparent;
    color: #000;
}

    .btn.btn-primary:hover {
        border: 1px solid #2fa333c4;
        background: #2fa333c4;
        color: #fff;
    }


/*התפריט בכל גודל חוץ מאקסטרה לארג*/
.ftco-navbar-light {
    background: transparent !important;
    z-index: 3;
    padding: 0;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #ffffff !important;
    }
}

.ftco-navbar-light .navbar-toggler {
    color: black !important;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #000000;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: #000;
        font-weight: bold;
    }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    color: #000000;
}

    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #000000;
    }

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        color: black;
    }
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #000000;
}

@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #000;
        background: #e6e6e6;
    }
}


/*footer*/
.mouse {
    top: -57px;
}

.ftco-footer{
    margin-top: 88px;
}

.pFooter {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.list-unstyled {
    text-align: center;
}


.mt-5 > li {
    margin-top: -15%;
}

.block-23 ul {
    padding-right: 20%;
}

.mb-3 > ul {
    margin-bottom: 5rem !important;
}


/*end footer*/
